<div class="nl-landing-page-view">
    <i class="fa fa-connectdevelop fa-5 project-icon"></i>
    <div class="container">
        <div class="nl-sidebar">
            <div class="nl-lp-perks">
                <span class="nl-slogan">{{model.header}}</span>
                <span class="nl-visit-reason nl-reason-content">
                    Get the latest tech news here.
                </span>
                <ul class="nl-list-detail-reason">
                    <li>
                        <img src="assets/images/dot.png", alt="landing page" class="nl-dot-image"
                        ><span class="nl-lp-reason-li-span">
                            Weekly hottest news from Hacker News.
                        </span>
                    </li
                    ><li>
                        <img src="assets/images/dot.png", alt="landing page" class="nl-dot-image"
                        ><span class="nl-lp-reason-li-span">
                            Explore more similar tech news by tech category.
                        </span>
                    </li
                    ><li>
                        <img src="assets/images/dot.png", alt="landing page" class="nl-dot-image"
                        ><span class="nl-lp-reason-li-span">
                            Focus on valuable information here.
                        </span>
                    </li>
                </ul>
            </div>
            <form class="nl-register-name-form"
                    data-ng-hide="model.isSuccess"
                    novalidate
                    name="requestForm"
                    data-ng-submit="model.requestSubmit()">
                <span>Sign up for an invite to see a vet at {{model.company}}</span>
                <input type="email"
                        name="email"
                        data-ng-model="model.email"
                        class="nl-email"
                        placeholder="Enter your work email"
                        data-ng-keydown="model.clearError()"
                        focus-me="true"
                        di-focus-me
                        required
                ><button type="submit"
                        class="btn nl-submit"></button>
                <div ng-messages="requestForm.email.$error"
                    ng-messages-include="assets/error-messages.html"
                    data-ng-show="model.interacted(requestForm.email)">
                </div>
                <div ng-messages="model.customErrors"
                    data-ng-show="model.interacted(requestForm.email)">
                    <div ng-message="isSameEmail"
                        class="nl-form-error-msg">
                        The email is registered.
                    </div>
                </div>
            </form>
            <div class="nl-register-name-form nl-success-register"
                data-ng-show="model.isSuccess">
                Nice job&#33; You&#8217;ll be first to know when we&#8217;ll visit {{company}}&#46;
            </div>
        </div
        ><div class="nl-invited-list" ng-show="model.hasEmails()">
            <span class="nl-invited-title">Who&#8217;s invited</span>
            <span data-ng-repeat="(key, email) in model.emails track by $index"
                    class="nl-invited-emails">
                {{email}}
            </span>
        </div>
    </div>
</div>
